body {
    margin: 0; /* start css file w/ reset */
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-gap: 5px;
}

/* ##################### */
/* ALL PAGES - TOP MENU */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    height: 60px;
    background-color:chocolate;
}

nav ul {
    margin: 20px;
    font-weight: bold;
    list-style: none;
}

nav li {
    display: inline;
    list-style-position: inside;
    color: #bff707;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-inline: 20px;
}

/* ############################## */
/* 1ST PAGE - LOGO & MAIN BLURB */
aside {
    background-color: white;
    align-content: center;
    padding: 5%;
}
aside img {
    width: 215px;
    height: auto;
    justify-content: center;
}

main h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

main {
    background-color: white;
    color:cadetblue;
    padding-left: 20px;
    padding-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
}

main img {
    padding-left: 100px;
}
#caption1 {
    font-style: italic;
    text-align: center;
}

/* ############################## */
/* 2ND PAGE - PURCHASE ITEMS LIST */
.grid-itemlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-itemlist img {
    width: 200px;
    justify-content: center;
    padding: 3px;
    border: blue;
    border-style: groove;
    border-width: 3px;
}
/* ############################## */


nav, footer {
    grid-column: span 2;
}


/* ############################## */
/*  ALL PAGES - BOTTOM INFO BAR  */
footer {
    background-color: #e3e8e0;
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: auto;
    background-color: #e3e8e0;
    color: #444;
}

.box {
    background-color: #444;
    color:yellow;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* ############################## */


 