body {
    margin: 0; /* start css file w/ reset */
    height: 100vh; /* viewer height */
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-template-rows: 50px 3fr 100px;
    grid-gap: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-transform: uppercase;
    height: 50px;
    background-color:chocolate;
}

nav div {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    font-weight: bold;
    color: #bff707;
}

aside {
    background-color: white;
    align-content: center;
}

main h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

main {
    background-color: #226AFA;
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

footer {
    background-color: #e3e8e0;
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav, footer {
    grid-column: span 2;
}

aside {
    padding: 5%;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 200%;
}

 